<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lance.code.generation.mapper.TablesMapper">
	
	<!-- 查询所有的表名称和备注 -->
	<select id="findAll" resultType="TableInfo">
		SELECT table_name,table_comment FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA=#{value}
	</select>
	
	<!-- 根据表获取表字段 -->
	<select id="findColumn" resultType="ColumnInfo">
		select column_name, column_comment,data_type,column_key
		from Information_schema.columns 
		where table_Name=#{tableName} and table_schema=#{schemaName}
	</select>
</mapper>